@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-behavior: smooth;

  --primary: #333333;
  --primary2: #1e1e1e;
  --cartBlue: #003dd6;
  --secondary: #fbf9f9;
  --border: #9b9b9b;

  color: var(--primary);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

input,
button,
textarea,
select {
  font: inherit;
  background: inherit;
  max-width: 100%;
}

input[radio] {
  appearance: inherit;
  accent-color: inherit;
}
